<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin page</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand inline">
        <b th:text="${userAuth.getName()}">name</b> with roles:
        <b class="font-weight-normal" th:text="${userAuth.getRoles()}">name</b>
    </div>
    <div>
        <a href="/logout" class="text-muted">Logout</a>
    </div>
</nav>


<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column nav-pills ">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminin">User</a>
            </li>
        </ul>
    </div>

    <div class="col-md -10 bg-light">
        <div class="container">
            <div class="h1">Admin Panel</div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#new">New user</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="users">
                    <table class="table">
                        <tr>
                            <th>
                                <h5 class="container">All users</h5>
                            </th>
                        </tr>
                        <tr>
<!-----------------------Table ALL USERS---------------------------------------------------------------------------->
                            <th>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>E-mail</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="getAllUsers"></tbody>
                                </table>
                            </th>
                        </tr>
                    </table>
<!-------------------Delete-------------------------------------------------------------------------------------------------------->
                    <div class="modal fade" id="delete"
                         tabindex="-1" role="dialog"
                         aria-labelledby="TitleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TitleModalLabel2">Delete user</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body text-center">
                                    <div class="form-row justify-content-center mx-auto col-6">
                                        <form id="deleteModal">
                                            <div class="form-group">
                                                <label for="idDelete">Id</label>
                                                <div>
                                                    <input type="number" readonly
                                                           name="idDelete"
                                                           class="form-control"
                                                           id="idDelete">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="firstNameDelete">First
                                                    name</label>
                                                <div>
                                                    <input type="text" readonly
                                                           name="firstNameDelete"
                                                           class="form-control"
                                                           id="firstNameDelete">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="lastNameDelete">Last
                                                    name</label>
                                                <div>
                                                    <input type="text" readonly
                                                           name="lastNameDelete"
                                                           class="form-control"
                                                           id="lastNameDelete">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="ageDelete">Age</label>
                                                <div>
                                                    <input type="number" readonly
                                                           name="ageDelete"
                                                           class="form-control"
                                                           id="ageDelete">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="emailDelete">Email</label>
                                                <div>
                                                    <input type="email" readonly
                                                           name="emailDelete"
                                                           class="form-control"
                                                           id="emailDelete"
                                                           aria-describedby="emailHelp">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label hidden for="passwordDelete">Password</label>
                                                <div>
                                                    <input type="password"
                                                           name="passwordDelete"
                                                           class="form-control"
                                                           hidden
                                                           id="passwordDelete">
                                                </div>
                                            </div>

<!--                                            <div class="form-group">-->
<!--                                                <label for="roleDelete">Role</label>-->
<!--                                                <div>-->
<!--                                                    <select disabled class="form-control"-->
<!--                                                            size="2"-->
<!--                                                            name="deleteRole"-->
<!--                                                            id="roleDelete">-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->

                                            <div class="form-group">
                                                <b>Role</b>
                                                <br>
                                                <select class="form-control" name="deleteRole" multiple size="2" disabled>
                                                    <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                                    <option value="ROLE_USER" userSelect>USER</option>
                                                </select>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                <button type="submit"
                                                        class="btn btn-danger">Delete</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="new">
                    <table class="table bg-white table-striped">
                        <tr>
                            <th>
                                <h5 class="container">Add new user</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="bg-white text-center">
                                    <form class="offset-md-4 col-md-4" method="POST" action="/admin/new">
                                        <div class="form-group">
                                            <label for="name">First name </label>
                                            <input type="text" class="form-control" name="name" id="name"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="surname">Last name</label>
                                            <input type="text" class="form-control" name="surname" id="surname"/>
                                        </div>
                                        <label for="age">Age</label>
                                        <input type="number" class="form-control" name="age" id="age"/>
                                        <br>
                                        <label for="email">Enter E-mail: </label>
                                        <input type="email" class="form-control" name="email" id="email"/>
                                        <br>
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="password" id="password"/>
                                        <br>
                                        <label for="editRoles">Roles </label>
                                        <br>
                                        <select class="custom-select" id="editRoles" name="editRoles" multiple size="2"
                                                required>
                                            <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                            <option value="ROLE_USER" userSelect>USER</option>
                                        </select>
                                        <br><br>
                                        <button type="submit" class="btn btn-success" value="Add">Add new User</button>
                                    </form>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="/allUsers.js"></script>
<script src="/delete.js"></script>
<script src="/windows.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
