<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div>
    <p>Hello User, this Spring Security example</p>
</div>

<label for>Name: </label>
<p th:text="${user.name}">VALUE</p>
<label for>ID: </label>
<P th:text="${user.id}">VALUE</P>
<label for>Password: </label>
<P th:text="${user.password}">VALUE</P>
<label for>Role: </label>
<P th:text="${user.role}">VALUE</P>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<br/>
<br/>

<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>


</body>
</html>