<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div>
    <p>Hello User, this Spring Security example</p>
</div>

<label for>First Name: </label>
<p th:text="${user1.getName()}">VALUE</p>
<label for>Last Name: </label>
<P th:text="${user1.getSurname()}">VALUE</P>
<label for>ID: </label>
<P th:text="${user1.getId()}">VALUE</P>
<label for>Password: </label>
<P th:text="${user1.getPassword()}">VALUE</P>
<label for>Role: </label>
<P th:text="${user1.getRoles()}">VALUE</P>
<label for>Age: </label>
<P th:text="${user1.getAge()}">VALUE</P>
<label for>Email: </label>
<P th:text="${user1.getEmail()}">VALUE</P>


<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<br/>
<br/>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<a href="/admin">All users</a>


</body>
</html>