<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<div>
    <p>Hello User, this Spring Security example</p>
</div>

<label for>First Name: </label>
<p th:text="${username.getName()}">VALUE</p>
<label for>Last Name: </label>
<P th:text="${username.getSurname()}">VALUE</P>
<!--<label for>ID: </label>-->
<!--<P th:text="${username.getId()}">VALUE</P>-->
<!--<label for>Password: </label>-->
<!--<P th:text="${username.getPassword()}">VALUE</P>-->
<label for>Age: </label>
<P th:text="${username.getAge()}">VALUE</P>
<label for>Email: </label>
<P th:text="${username.getEmail()}">VALUE</P>
<label for>Role: </label>
<P th:text="${username.getRoles()}">VALUE</P>


<a href="/logout">Logout</a>

</body>
</html>